# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
.utmp/
*_BurstDebugInformation_DoNotShip/

# Visual Studio / VS Code / Rider cache
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity profiler & metadata
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Build / inspection logs
*.log
*_report.txt
check_define_result.txt
glb_test_result.txt

*.apk
log_build.txt

